body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
